.control {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.control label {
  flex-basis: 50px;
  margin-right: 1rem;
}

.control input {
  flex-grow: 1;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}

.control button {
  font-size: 1rem;
  margin: 0 auto;
  padding: 0.5rem 0.75rem;
}
